/* General Card Styling */
.card,
.expense-card,
.category-card,
.expense-chart-card,
.budget-card {
  background-color: rgba(157, 212, 135, 0.8);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  color: #333;
}

.card:hover,
.expense-card:hover,
.category-card:hover,
.expense-chart-card:hover,
.budget-card:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
