/* SavingsCard Styling */
.savings-card {
    background-color: rgba(0, 0, 255, 0.2); /* Default transparent blue background */
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #333;
    cursor: pointer;
    transition: max-height 0.3s ease, padding 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    max-height: 70px;
    opacity: 1;
}

.savings-card.expanded {
    max-height: 500px;
    padding: 20px;
    background-color: rgba(0, 0, 255, 0.3); /* Slightly less transparent blue background when expanded */
    opacity: 1;
}

.savings-card-header {
    background-color: darkblue; /* Dark blue background for the header */
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
}

.savings-card-header .fa-frog {
    position: absolute;
    left: 10px; /* Position the frog icon to the left */
    font-size: 1.5rem;
}

.savings-card-header span {
    flex-grow: 1;
    text-align: center; /* Center the text */
}

.savings-card-content {
    margin-top: 10px;
}

.savings-card .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.savings-card .styled-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    color: #333;
    background-color: white;
    margin-top: 5px;
}

.savings-card-button {
    width: 100%;
    margin-top: 12px;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: darkblue;
    color: white;
    border: none;
    cursor: pointer;
}

.savings-card-button:hover {
    background-color: #3a77a0;
}

.expense-list {
    margin-top: 20px;
}

.expense-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.action-icon {
    margin-left: 10px;
    cursor: pointer;
    color: #333;
}
